<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.example.com.brapolar">

    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Utils.Init"
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiverMedication"></receiver>

        <service android:name=".CallLogService" />

        <receiver android:name=".SMSResiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BraPolarKeyboard"
            android:exported="false"
            android:label="BraPolarKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.SettingsActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivityEspecialista"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.AboutActivity" />
        <activity android:name=".Activities.AcousticActivity" />
        <activity android:name=".Activities.ContactActivity" />
        <activity android:name=".Activities.MoodActivity" />
        <activity android:name=".Activities.SocialActivity" />
        <activity android:name=".Activities.MedicationActivity" />
        <activity android:name=".Activities.PsychomotorActivity" />
        <activity android:name=".Activities.SleepActivity" />
        <activity android:name=".Activities.PhysicalActivity" />
        <activity android:name=".Activities.CalibrationActivity" />
        <activity android:name=".Activities.SendActivity" />
        <activity android:name=".Activities.ReviewMedicationActivity"></activity>
    </application>

</manifest>